:root {
    --font-sans-serif: 'Space Grotesk', Helvetica, sans-serif;
    --font-mono: 'Cousine', monospace;
    --font-substitute: Helvetica, sans-serif;
    --radius1: 4px;
    --radius2: 8px;
    --radius3: 16px;
    --main: #34d601;
    --black: #20231f;
    --gray: #484b47;
    --gray2: #8f908e;
    --gray3: #e9e9e9;
    --white: #fff;
}

/* Box Hack */
/* ------------------------------------ */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Typeography */
/* ------------------------------------ */

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
}

/* !important seems to be needed for h1 margins to work properly, might be something in the normalize.css */
body, h1, h2, p, ul, ol, li {
    margin: 0 !important;
}

.copy {
    line-height: 1.4em;
    font-size: 24px;
}

a {
    font-family: var(--font-substitute);
    text-decoration: none;
    letter-spacing: .5px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 300;
}

a, p {
    line-height: 1.5em;
}

::-moz-selection { /* Code for Firefox */
    background: var(--main);
    color: var(--black);
}

::selection {
    background: var(--main);
    color: var(--black);
}

img, video {
    max-width: 100%;
    display: block;
}

video {
    object-fit: cover;
}

h2 {
    font-family: var(--font-mono);
    font-size: 12px;
}

.main-title {
    font-family: var(--font-sans-serif);
    color: var(--black);
    font-size: 78px;
    line-height: 1.05em;
}

.main-title--dark {
    color: var(--white);

    /*temp for example purpose*/
    background-color: var(--black);
}

.title-tag {
    border: 1px solid var(--black);
    display: inline-block;
    width: fit-content;
    padding: 5px 5px 3px;
    border-radius: var(--radius1)
}

.title-tag--dark {
    border: 1px solid var(--gray);
    color: var(--gray2);

    /*temp for example purpose*/
    background-color: var(--black);
}

/* needs work to make it a toggle switch */

.title-tag--active:hover {
    cursor: pointer;
}

.title-tag--active:active {
    background-color: var(--black);
    color: var(--white);
}

/* header nav section */
/* ------------------------------------ */

.header-navbar-container {
    display: flex;
    gap: .5em;
}

.navbar-list, .navbar-logo {
    display: flex;
    align-items: center;
    background-color: var(--white);
    font-size: 19px;
    line-height: 120%;
    box-shadow: 0 0 6px rgb(0 0 0 / 12%);
    border-radius: var(--radius1);
    width: fit-content;
}

/* hidden logo before scroll might require java to replace with active class on scroll*/

.navbar-logo {
    opacity: 0;
    pointer-events: none;
    width: 0;
}

.navbar-logo--scroll {
    opacity: 1;
    pointer-events: all;
    width: 1;

    display: flex;
    align-items: center;
    background-color: var(--white);
    font-size: 19px;
    line-height: 120%;
    box-shadow: 0 0 6px rgb(0 0 0 / 12%);
    border-radius: var(--radius1);
    width: fit-content;
}

.navbar-list>li, .navbar-logo {
    display: inline-block;
}

ul, ol {
    list-style: none;
}

a, ul, ol, li {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-family: inherit; */
    vertical-align: baseline;
}

.navbar__link {
    display: inline-block;
    padding: 11px 15px 9px;
    margin: 0;
    color: inherit;
    font-size: 19px;
}

.navbar-list:hover {
    color: #888;
}

.navbar__link--hover:hover {
    color: #000;
}

.navbar-logo--scroll:hover {
    background-color: var(--black);
    color: var(--white);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

/* Footer section */
/* ------------------------------------ */

.footer-main-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    grid-template-rows: fit-content 1fr;
    grid-column-gap: 1.5em;
    background-color: var(--black);
    /* temp */
    padding: 2em;
    row-gap: 3em;
}

.footer-main__copy {
    color: var(--white);
    font-size: 16px;
}

.footer-main__tag {
    grid-column: 1/2;
}

.footer-main__text .main-title {
    padding-bottom: .375em;
}

/* to keep copy width matching that of header */

.footer-main__text {
    grid-column: 2/7;
    width: fit-content;
}

/* to keep title from wrapping without needing fixed width, might change */

.footer-main__text h2 {
    white-space: nowrap;
    word-break: break-word;
}

.footer-aside {
    /* display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr)); */
    border-radius: 16px;
    overflow: hidden;
    grid-column: span 4/-1;
    background-color: var(--white);
    color: var(--black);
    pointer-events: all;
    cursor: pointer;

    /* padding gap fix */
    height: fit-content;

    width: 100%;

    /* fix to keep aside from shrinking too much, might rework later */
    min-width: 300px;
}

.footer-aside1 {
    position: relative;
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    /* grid-column: 1/-1;
    grid-row: 1/-1; */
    overflow: hidden;

}

.footer-aside__img-container {
    position: relative;
    padding-bottom: 80%;
    background-color: var(--gray3);
}

.footer-aside__img img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.footer-aside-text-container {
    padding: 1em;
    padding-top: 1.2em;
}

.footer-aside__tag {
    margin-bottom: 1em;
}

/* Not sure how to get these links to wrap to the sub columns */

.footer-links {
    grid-column: 1/span 3;
    grid-row: 2/3;
    display: flex;
    align-self: flex-end;
}

.footer-links ul {
    column-count: 3;
    grid-column-gap: 1.5em;
    min-width: 100%;
}

.footer-links a {
    color: var(--white);
}

.footer-links a:hover {
    text-decoration: underline;
}


.copywrite {
    grid-column: span 4/-1;
    display: flex;
    align-self: flex-end;
    height: fit-content;
    color: var(--white);
    font-size: 14px;
}

/* Hero section */
/* ------------------------------------ */

.hero {
    margin: 1.5em;
}

.hero-flex {
    display: flex;
    /* flex-wrap:wrap; */
    margin-bottom: 2em;
}

.hero-title {
    flex: 1 0 540px;
}

.hero-side {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

.hero-side-wrap {
    max-width: 450px;
    min-width: 300px;
    display: flex;
    flex-flow: column;
    gap: 2.8em;
}

.hero-buttons {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

.button {
    background-color: var(--gray3);
    color: var(--gray);
    border-radius: var(--radius1);
    padding: 5px 8px 4px;
    font-family: var(--font-substitute);
    font-size: 13px;
    font-weight: 400;
    transition: all .3s cubic-bezier(.4,0,0,1);
}

.button--hover:hover {
    color: var(--white);
    background-color: var(--main);
    transition: all .3s cubic-bezier(.4,0,0,1);
}

.hero-video {
    position: relative;
    border-radius: var(--radius3);
    overflow: hidden;
    padding-bottom: 38%;
}

.hero-video video {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Intro Section */
/* ------------------------------------ */

.intro, .products {
    margin: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}

.products {
   grid-column: 1 / -1;
}

.intro-left {
    grid-column: 1 / 2;
}

.intro-links {
    grid-column: 2 / -1;
}

.intro-links ol {
    text-align: end;
}

.full-copy-wrap {
    display: grid;
    grid-template-columns: repeat(6,minmax(0,1fr));
    grid-column-gap: 1.5em;
    /* temp */
    padding: 2em 0em;
}

.tag-wrap {
    grid-column: 1 / 2;
}

.copy-wrap {
    grid-column: 2 / -1;
}

.intro-link {
    color: var(--gray2);
    transition: all .3s cubic-bezier(.4,0,0,1);
}

.intro-link--hover:hover {
    transition: all .3s cubic-bezier(.4,0,0,1);
    color: var(--main);
    display:list-item;
}

/* Before places content prior to the list item, border setup makes a > looking object to fill this blank content, hover replaces the none display making this visible and inline-block makes sure the content and links align side by side */

.intro-links a:hover:before {
    display: inline-block;
}

.intro-links a:before {
    content: "";
    display: none;
    width: 8px;
    height: 8px;
    border-right: 1px solid var(--main);
    border-bottom: 1px solid var(--main);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-right: 12px;
}

/* Products */
/* ------------------------------------ */

/* .products grid setup is above in intro section to reduce redundency */

.products-left {
    grid-column: 1 / 2;
}

.slide-wrap {
    grid-column: 2 / 6;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    grid-template-rows: fit-content;
    grid-column-gap: 1.5em;
    margin: 1.5em;
}

.slide-wrap a {
    white-space: normal;
    font-family: inherit;
    text-decoration: none;
    letter-spacing: normal;
    font-size: inherit;
    font-weight: inherit;
    line-height: normal;
    color: inherit;
}

.slide-select {
    grid-column: 2 / 7;
}

.slide-description a {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    grid-column-gap: 1.5em;
    padding: 2em 0em;
    cursor: pointer;
}

.sub-tag-wrap {
    grid-column: 1 / 2;
}

.sub-copy-wrap {
    grid-column: 2 / 6;
}

.sub-copy {
    color: var(--gray2);
}

/* Seems like I may need to turn this into a radio input or something to keep the effect active */
.sub-copy:active {
    color: var(--black);
}

/* Unsure on best method to couple these active states, still needs work */
.title-tag--active:active {
    background-color: var(--black);
    color: var(--white);
}

.product-slides {
    grid-column: 8 / 11;
    position: relative;
}

.product-slide {
    position: absolute;
}

.product-slide-top {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-size: 14px;
}

.product-slides__title {
    color: var(--white);
}

.product-slides__number {
    color: var(--gray2);
}

#product1,
#product2,
#product3,
#product4 {
  display: none;
}

#product1:target {
    display: block;
}
#product2:target {
    display: block;
}
#product3:target {
    display: block;
}
#product4:target {
    display: block;
}

/* Testimonials */
/* ------------------------------------ */
  
.testimonials {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    gap: 1.5em;
    background-color: var(--black);
}

.testimonial-wrap {
    position: relative;
    padding: 1.5em;
    color: var(--white);
    display: grid;
    grid-row: span 2;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    gap: 1.5em;
}

.grid-left-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.testimonial-title {
    font-size: 14px;
    font-family: var(--font-substitute);
}

.testimonials-copy {
    font-size: 30px;
}

.grid-mid-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-bottom: 1em;
}

.grid-right {
    grid-row: span 3;
    border-radius: var(--radius2);
    overflow: hidden;
    position: relative;
}

.grid-right>img {
    height: 100%;
    object-fit: cover;
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    width: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%; */
}

.grid-nav {
    position: absolute;
    grid-column: 1 / 2;
    min-width: 100%;
    bottom: 0;
    padding: 1.5em;
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    font-family: var(--font-sans-serif);
}

.grid-nav>ul {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(6,minmax(0,1fr));
    grid-column-gap: 1.5em;
    position: relative;
}

.prev {
    grid-column: span 3;
}

.numb {
    grid-column: 4 / 6;
    text-align: right;
}

.next {
    grid-column: 6 / 7;
    text-align: right;
}

/* component */
/* ------------------------------------ */

.comp-base {
    /* temp for showcase */
    scroll-behavior: smooth;
    /* background-color: #282a28; */
}

.component__name {
    font-family: var(--font-mono);
    font-size: 15px;
    width: fit-content;
    margin: 0 !important;
    color: var(--gray2);
    padding-bottom: 1em;
}

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid var(--gray);
    overflow-x: auto;
    background-color: white;
}

.component__code {
    border: 1px solid var(--gray);
    background-color: white;
}

.component__code img {
    max-width: 100%;
}

.comp-wrap {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.comp-left {
    position: fixed;
    background-color: var(--black);
    height: 20em;
    width: 12%;
    min-width: 175px;
    /* overflow: auto; */
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 7px;
    margin-left: 1%;
}

.comp-nav {
    /* border: red solid; */
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.comp-nav a {
    width: 60%;
    margin: auto;
    padding: .5em;
    /* border: red solid; */
    font-family: var(--font-mono);
    color: var(--gray2);
    font-size: smaller;
    display: block;
}

.comp-nav a:hover {
    color: var(--white);
}

.comp-right {
    grid-column: 2/3;
    overflow: hidden;
    position: relative;
    padding:4em 4em 4em 2%;
    margin-left: max(180px, 12.5%);
}

.comp-right>h1 {
    font-family: var(--font-substitute);
    font-size: 2.5em;
}

.comp-right>h2 {
    font-size: .9em;
    margin: 2em 0 !important;
}

.component {
    background-color: var(--black);
    padding: 1.5em;
    border-radius: var(--radius2);
    margin: 2em 0;
}


.comp-nav a:hover {
    transition: all .3s cubic-bezier(.4,0,0,1);
    color: var(--white);
    display:list-item;
}

.comp-nav a:hover:after {
    display: inline-block;
}

.comp-nav a:after {
    content: "";
    display: none;
    width: 8px;
    height: 8px;
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--gray3);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-right: 12px;
}











/* * {box-sizing:border-box} */

/* Slideshow container */

/* .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
} */

/* Hide the images by default */

/* .mySlides {
  display: none;
} */

/* Next & previous buttons */

/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */

/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */

/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */

/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */

/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */

/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */

/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */