<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | KORR</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cousine&family=Space+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>
<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">body</h3>
        <div class="component__img">
            <img srcset="img/intro/copy.png 2x" src="img/intro/copy.png" alt="example of body copy">
        </div>
        <div class="component__code">
            <p class="copy">Korr started from a single question: “How do we make a core insurance platform that enables carriers & agents to operate at the speed of the modern insurance industry?” The answers shaped the platform. Insurers can generate new business in minutes, enjoy total cloud integration, and develop innovative insurance products rapidly in a clean, modern and intuitive interface.</p>
        </div>
    </article>

    <article class="component">
        <h3 class="component__name">headings (h1, h2)</h3>
        <div class="component__img">
            <img srcset="img/hero/main-title.png 2x" src="img/hero/main-title.png" alt="main title">
            <img srcset="img/footer/main-title--dark.png 2x" src="img/footer/main-title--dark.png" alt="main title dark">
            <img srcset="img/intro/title-tag.png 2x" src="img/intro/title-tag.png" alt="title tag">
            <img srcset="img/footer/title-tag--dark.png 2x" src="img/footer/title-tag--dark.png" alt="title tag dark">
            <img srcset="img/products/title-tag--active.png 2x" src="img/products/title-tag--active.png" alt="title tag active state">

        </div>
        <div class="component__code">
            <h1 class="main-title">The Rebirth of Insurance</h1>
            <h1 class="main-title main-title--dark">The future of insurance</h1>
            <h2 class="title-tag">Why Korr</h2>
            <h2 class="title-tag title-tag--dark">Contact</h2>
            <h2 class="title-tag title-tag--active">Concept</h2>
        </div>
    </article>
</body>
</html>